/* Règles communes //////////////////////////////// */
*{
    margin: 0px;
}
/* Règles typographiques //////////////////////////////// */
h1,h2,h3,h4,a,p,button {
    font-family: Arial, sans-serif;
    color: black;
}

a,p,button{
    font-size: 12px;
}

/* Design du site //////////////////////////////// */

/* Design Popup ---------------------------- */

#popupIntro, #popupFin, #popupSkin, #popupBase {    
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none !important;
}

.cartePopup{
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 60px rgba(0,0,0,0.8);
    padding: 40px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;

    animation: popupSlide 0.5s ease-in-out forwards;
}

.logo{
    height: 6svh;
}

.introTXT{
    text-align: center;
}

.choixSkin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Arrow{
    height: 5svh;
}

.skin{
    height: 40svh;
    margin: 30px;
}

/* Fin Design Popup ---------------------------- */

/* Design Jeu ---------------------------- */

body {
    min-height: 100vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game-board {
    background-color: #ffffff;
    min-height: 80vh;
    width: 60vw;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.2);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Design Personnages ---------------------------- */
.sectionPersonnage {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
    background-color: #eaeaea;
    border: 1px solid rgb(90, 90, 90);
    padding: 20px;
    border-radius: 20px;
}

.sectionPersonnage:nth-child(1){
    align-items: flex-end;
}
.sectionPersonnage:nth-child(2){
    align-items: flex-start;
}

.personnage{
    height: 20vh;
}

/* Bar de vie -------- */
.health-bar {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    background-color: #fff;
}

.health-fill {
    height: 100%;
    width: 100%;
    background-color: green;
    transition: width 0.5s;
}

/*Stats*/

.sectionPersonnage{
    display: flex;
    flex-direction: row;
}

.stats{
    background-color: #713c84;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

.stat-txt{
    color : white;
}

.stat-content{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 15px;
    margin-right: 10px;
}

.red{
    color : red;
}

/* Design Espace de choix ---------------------------- */
.sectionAction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #3c3c3c;
    border: 1px solid rgb(90, 90, 90);
    padding: 20px;
    border-radius: 20px;
}

#announcement{
    color: white;
    font-size: 22px;
}

#espaceBouton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #ffffff;
    border: 1px solid rgb(90, 90, 90);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #202020;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}



/* Catalogue d'animations ---------------------------- */

@keyframes popupSlide{
    0%{transform: translateY(1000px);}
    100%{transform: translateY(0px);}
}